 body{width: 100%;
 	height: 100%;}
 header{
 	width:100%;
 }
 
.principal{ /*menu principal*/
 
background-image: url(Supervisar/operacionymantenimiento.png);
background-repeat: no-repeat;
width: 70%;
height: 50px;
margin: 0 auto;

}
ul{/*menu princiapl estilo*/

list-style-type: none;
margin: 0px;
z-index: 2;
}

#superior li{/*menu ŕincipal elementos*/
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
display: inline-block;
text-align: left;
margin-right: 20px;
left: 22%;
color:#5B87DA;
font-size: 20px;
bottom: 18px;}

#s1{/*el tamaño del primer item es mayor*/

	font-size: 30px !important;
	font-weight: lighter !important;
	padding-right: 25px;
}

#s2 img{/*la imagen se pega mucho en el segundo item*/
/*	margin-right:10px;*/
}
#flecha{
	position: fixed;
	right: 4%;
}


.iconosuperior img{/*scalar los iconos mas grandes*/
/*transform:scale(1.5);*/

margin: 0 auto;
position: relative;
top:12px;
}

#gradiant{/*linea entre el menu y el cuerpo degradada*/
	width: 100%;
	height:3px !important;
background:linear-gradient(45deg,#fff ,#AAA5A5,#fff);
margin: 0 auto;

}
#cuerpo{/*caja del cuerpo general*/
	width: 80%;
	height: 1000px !important;
	margin: 0 auto;
	box-shadow: rgb(150,150,150) 0px 5px 20px ;
}
.interior{
	display: inline-block;
}
#izquierda{/*menu lateral*/
width: 30%;
height: 100% !important;
background: linear-gradient(#002160,#004588);/*gradiante de azules*/
position: relative;
-webkit-bottom:20px;
bottom:53.4%;
z-index: 1;
}
#derecha{
	width: 69%;/*cuerpo derecho*/
	height: 100%;
	position: relative;
	bottom: 10%;

}

#administrador{/*Administrador*/
	position: relative;
	top:1%;
	text-align: center;
background-color: #F1FAFF;
list-style-type: none;
margin-right: 5px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 25px;
color: #5B87DA;

}
#administrador img{ /*Flecha de Administrador*/
position: relative;
left:20%;
bottom: 2px;
-webkit-transform:rotate(270deg) scale(1.2) scalex(1.3) ;
transform:rotate(270deg) scale(1.2) scalex(1.3) ;

}


#nuevo{/*nuevo administrador*/
color: #FFF;
position: relative;
top: 5%;
list-style-type: none;
text-align: left;
font-family: 'Source Sans Pro', sans-serif;

 }
 #nuevo img{ /*signo de mas*/
position: relative;
left: 5%;
top:2px;

 }

 #nuevo :hover{/*camvia de color el texto de nuevo*/
 	color: #0164BF;
 	

 }

#linea1{/*linea superior*/

	width: 85%;
	height:3px !important;
background:linear-gradient(45deg,#0164BF,#002160);

}
#linea2{/*linea inferior*/
top: 15px;
	width: 100%;
	height:3px !important;
background:linear-gradient(45deg,#0164BF,#002160);
position: relative;
right: 14%;
}

#lateral{/*menu lateral*/
position: relative;
top: 10%;
list-style-type: none;
margin: 0px;
padding: 0px;
border-top-width: 1px;
border-right-width: 1px;
border-left-width: 1px;

border-top-style: solid;
border-right-style: solid;


border-top-color: #0164BF;
border-right-color:#0164BF;
border-left-width: #0164BF;

background-color: #0164BF;
right: 1px;
width: 100%;
font-family: 'Source Sans Pro', sans-serif;
color: #FFFFFF;
font-weight: lighter; 
}
#lateral li{/*menu lateral*/

transition: -moz-transform .2s ease-in 0s;/* la propiedad transfor es para que inicien todas las transformaciones despues es el tiempo que durara la animacion despues como iniciara y al ultimo cuanto tarda en inicias */

text-decoration: none;
display: block;
padding: 12px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: blue;
background-color: #0164BF;

}
#lateral li:hover{/*movimiento al pasar el mouse*/
	-webkit-transform: translate(10px);
	-moz-transform: translate(10px);
	transform: translate(10px);
}

#busqueda{/*area de busqueda*/

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	padding-left: 2%;
	color: #5B87DA;
	padding-top: 5%;
	position: relative;
	top: 9%;
}
#iabc{/*contenedor general de abecedario*/
	position: relative;
	top: 10%;
}
#abc{/*divicion con letras*/
	background-color: #F1FAFF;
	width: 97%;
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding-left: 3%;
	color: #5B87DA;
	margin-top: 10px;
	}
#contenedor{/*contenedores */
position: relative;
width: 49%;
top: 10px;
font-size: 17px;
font-family: 'Source Sans Pro', sans-serif;
color: #fff;
box-shadow: rgb(150,150,150) 0px 0px 10px ;
display: inline-block;
margin: 10px auto;

}
#nombre{/*dentro del contenedor nombre*/
	color: #FFF;
	background-color: #0064BF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;

}
#conf{/*dentro del contenedor /parte superior configuracion*/
	display: inline-block;
	text-align: right;
	position: relative;
	left: 15%;

}
#conf:hover{
	color: #002160;
}

#info{/*informacion del personal*/
	padding-left: 15px;
	color: #5B87DA;
}
#popup1{
font-family: 'Source Sans Pro', sans-serif;
width: 40%;
height: 350px;
border-radius: 5px;
box-shadow: 0px 0px 600px 0px #000;
position: fixed;
top:20%;
left: 30%;
z-index: 3;
background-color: #FFF;

-webkit-transform:scale(0);
-moz-transform:scale(0); 
-o-transform:scale(0);
 -ms-webkit-transform:scale(0);
}


#popup1 img{
border:0px;
padding: 0px;
position: relative;
top: 15px;


}
#popup2{
font-family: 'Source Sans Pro', sans-serif;
width: 40%;
height: 355px;
border-radius: 5px;
box-shadow: 0px 0px 600px 0px #000;
position: fixed;
top:20%;
left: 30%;
z-index: 3;
background-color: #FFF;

-webkit-transform:scale(0);
-moz-transform:scale(0); 
-o-transform:scale(0);
 -ms-webkit-transform:scale(0);
}


#popup2 img{
border:0px;
padding: 0px;
position: relative;
top: 15px;


}
#popsuperior{

width: 100%;

	
color:#5B87DA;
font-size: 20px;
padding-bottom: 10px;
top: 50px;

}

#azul{

	filter: hue-rotate(80deg);
	/*Asignamos los Prefijos de los Navegadores específicos*/
	-webkit-filter: hue-rotate(80deg);
	-moz-filter: hue-rotate(80deg);
	-o-filter: hue-rotate(80deg);
	-ms-filter: hue-rotate(80deg);
}
#popcontenido{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#poplateral{
	position: absolute;
	width: 40%;
	height: 78%;
	border-radius:0px 0px 0px 5px;
	background-color: #002160;
	display: inline-block;


}
#popul li{
text-decoration: none;
display: block;
padding-top: 20px;
padding-bottom: 20px;
border-bottom-width: 1px;

color: #FFF;

}
#popul div{
	width: 100%;
	position: relative;
right: 23.5%;


}


#popinfo{
position: absolute;
width: 59%;
display: inline-block;
height: 78%;
text-align: center;
left: 40%;
top: 30%;
}



.textinfo{
	position: relative;
	
	width: 80%;
	background-color: #FFF;
	margin-bottom:35px; 
	border-top-color: #FFF;
	border-left-color: #FFF;
	border-color: #FFF;
	border-top-style: none;
	border-left-style: none;
	border-bottom-color: #0164BF;
	background-image: ;
	top: 10px;
}


#popadministrador{
position: relative;
width: 100%;
text-align:left; ;
color:#5B87DA;
font-size: 25px;


}
#popadministrador img{
position: relative;
text-align: right;
left: 25%;
top: 2px;






}
#bazul{
	background-color:#002160;
	border:none;
color: #FFF;
margin-right: 20px;
	box-shadow: rgb(150,150,150) 2px 5px 5px ;
	border-radius: 2px;
}
#beliminar{
	background-color: #FFF;
	border:none;
	color: red;
	margin-right: 45px;
}
#bblanco{
background-color: #FFF;
border:none;
color:#002160;
	box-shadow: rgb(150,150,150) 2px 5px 5px ;
border-radius: 2px;
}












	

