<!DOCTYPE html>
<html>
<head>
	<title>Administrador</title>
	{% include "includes/common_headers.html" %}
	{% if user.infouser.is_superadmin %}
	<script type="text/javascript" src="/static/js/adminsuperDataFormat.js"></script>
	{% else %}
	<script type="text/javascript" src="/static/js/adminDataFormat.js"></script>
	{% endif %}

	<script type="text/javascript">
		eval('var data = {{ data|escape|safe }}; var self_id = {{ user.id }};')
	</script>
</head>
<body  > 
	{% csrf_token %}
	{% include "includes/header_admins.html" %}
	
	<div id="gradiant"></div>
	<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()">
	<div id="cuerpo">
		{% with template_name="administrador" %}
		{% include "includes/menu_lateral.html" %}
		{% endwith %}
		<div id="derecha" class="interior">
		 	
			<a name="inicio"> </a>
			<div id="busqueda"> Tu búsqueda : <input type="text" size="15"></div>
			<div id="iabc">
			</div>
		</div>
	</div>
	<div id="popup1" class="pop">
		<div id="popsuperior"> <img src="/static/imagenes/Supervisar/usuario.png"> Administrador > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li>Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
					<li>Nueva contraseña</li>
					<div id="linea1"></div>
				</ul>

			</div>
			<div id="popinfo">
				<input type="text" class="textinfo form_nombre">
				<input type="text" class="textinfo form_apellido">

				<input type="text" class="textinfo form_mail">
				<input type="text" class="textinfo form_password">
				<div id="popadministrador">Activo<label class="switch"><input type="checkbox" checked><span></span></label></div>
				<button id="beliminar">Eliminar</button> 
				<button id="b_save" class="bazul">Guardar</button><button id="bblanco" onclick="cerrar('#popup1')">Cancelar</button>
			</div>
		</div>
	</div>
	{% if user.infouser.is_superadmin %}
	<div id="popup2" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Administrador > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li>Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
					<li>Contraseña</li>
					<div id="linea1"></div>
				</ul>


			</div>
			<div id="popinfo">
				<input id="first_name" name="first_name" type="text" class="textinfo">
				<input id="last_name" name="last_name" type="text" class="textinfo">
				<input id="email" name="email" type="text" class="textinfo">
				<input id="password" name="password" type="text" class="textinfo">
				<div id="popadministrador">Activo<label class="switch"><input id="is_admin" name="is_admin" type="checkbox" checked/><span></span></label></div>

				<button id="b_create" class="bazul">Crear</button><button id="bblanco" onclick="cerrar1(); return false;">Cancelar</button>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- ui-dialog -->
	<div id="dialogError" title="Error">
		<p>No se pudo procesar la petici&oacute;n</p>
	</div>
	<!-- ui-dialog -->
	<div id="dialogPass" title="Confirmación">
		<p>Escribe tu contraseña</p>
		<input placeholder="Contraseña" type="password" class="textinfo myp" />
	</div>

</body>
</html>