<!DOCTYPE html>
<html>
<head>
	<title>Administrador</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/administrador.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cupertino/jquery-ui.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/telcelscript.js" ></script>
	<script type="text/javascript">
		var data = eval('{{ data|escape|safe }}')
		$(document).ready(function() {
			$('#b_create').click(function(event) {
				event.preventDefault();
				var email = $('#email').val();
				var first_name = $('#first_name').val();
				var last_name = $('#last_name').val();
				var postdata={
					'email':email, 
					'first_name':first_name,
					'last_name':last_name,
					'csrfmiddlewaretoken': csrftoken
				}
				$.post("/administradores/new/", postdata, function(response) {
					// eval('var _jsonData = '+response);
					var code = response.code;
					// alert(code);
					if (code == 1) {
						data.push({
							'email':email, 
							'first_name':first_name,
							'last_name':last_name,
							"tel":"45678654",
							"id" : response.user_id
						});
						dataFormat('');
					}
					else {
						$("#dialogError").dialog("open");
					}
				}).fail(function() {
					$("#dialogError").dialog("open");
				});
				cerrar1();
				return false;
			});
		});
	</script>
</head>
<body  > 
	{% csrf_token %}
	<header >
		<a name="inicio1"> </a>
		<div class="principal">
			<nav id="superior">
				<ul >
					<li id="s2" class="iconosuperior"><img src="/static/imagenes/Supervisar/supervisor_big.png" border="0"><a href="/supervision/">Supervisión</a></li>
					<li id="s3" class="iconosuperior"><img src="/static/imagenes/Supervisar/usuario.png" border="0">{{ user.first_name }}</li>

					
					<li id="s4" class="iconosuperior"><img src="/static/imagenes/Supervisar/cerrar.png" border="0">Cerrar sesión</li>
				</ul>
			</nav>
		</div>
	</header>
	

	<div id="gradiant"></div>
	<div id="cuerpo">
		<div id="izquierda" class="interior">
			<li id="administrador"> Administradores <img src="/static/imagenes/Supervisar/flecha_combobox.png"></li>


			<li id="nuevo" onclick="abrir1()"><div id="linea1"></div></br><dd>Nuevo Administrador <img src="/static/imagenes/Supervisar/nuevo.png"> <div id="linea2"></div></li>

			<ul id="lateral">
				<li ><a href="/supervisores">Supervisores</a></li>
				<li><a href="/proveedores">Proveedores</li>
				<li><a href="/usuarios">Usuarios</a></li>
				<li><a href="/sitios">Sitios</a></li>
			</ul>
		</div>
		<div id="derecha" class="interior">
		<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()"> 	
			<a name="inicio"> </a>
			<div id="busqueda"> Tu búsqueda : <input type="text" size="15"></div>
			
			<div id="iabc">
			</div>

			</div>
		</div>
	</div>
	<div id="popup1" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Administrador > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
				</ul>


			</div>
			<div id="popinfo">
				<input type="text" class="textinfo form_nombre">
				<input type="text" class="textinfo form_apellido">

				<input type="text" class="textinfo form_mail">
				<div id="popadministrador">Administrador<label class="switch"><input type="checkbox" checked=""><span></span></label></div>

				<button id="beliminar">Eliminar</button> <button id="b_save" class="bazul">Guardar</button><button id="bblanco" onclick="cerrar('#popup1')">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup2" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Administrador > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
				</ul>


			</div>
			<div id="popinfo">
				<input id="first_name" name="first_name" type="text" class="textinfo">
				<input id="last_name" name="last_name" type="text" class="textinfo">
				<input id="email" name="email" type="text" class="textinfo">
				<div id="popadministrador">Administrador<label class="switch"><input id="is_admin" name="is_admin" type="checkbox" checked=""/><span></span></label></div>

				<button id="b_create" class="bazul">Crear</button><button id="bblanco" onclick="cerrar1(); return false;">Cancelar</button>
			</div>
		</div>
	</div>

	<!-- ui-dialog -->
	<div id="dialogError" title="Error">
		<p>No se pudo procesar la petici&oacute;n</p>
	</div>

</body>


</html>