<!DOCTYPE html>
<html>
<head>
	<title>Compañia</title>
	{% include "includes/common_headers.html" %}
  	<link rel="stylesheet" href="/static/chosen/chosen.css">
	<script type="text/javascript" src="/static/js/companyDataFormat.js"></script>
	<script src="/static/chosen/chosen.jquery.js" type="text/javascript"></script>
	<script type="text/javascript">
		eval('var data = {{ data|escape|safe }}')
	</script>
</head>
<body  > 
	{% csrf_token %}
	{% include "includes/header_admins.html" %}
	
	<div id="gradiant"></div>
	<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()">
	<div id="cuerpo">
		{% with template_name="compania" %}
		{% include "includes/menu_lateral.html" %}
		{% endwith %}
		<div id="derecha" class="interior">
		 	
			<a name="inicio"> </a>
			<div id="busqueda"> Tu búsqueda : <input type="text" size="15"></div>
			<div id="iabc">
			</div>
		</div>
	</div>
	<div id="popup1" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Compañia > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li>Nombre</li>
					<div id="linea1"></div>
					<li>Región</li>
					<div id="linea1"></div>
				</ul>
			</div>
			<div id="popinfo">
				<input id="name" name="name" type="text" class="textinfo form_nombre">
				<select id="optionRegion" class="optionRegion textinfo" data-placeholder="Selecciona las regiones" style="display:block;" multiple="true"></select>
				<button id="beliminar">Eliminar</button><button id="b_save" class="bazul">Guardar</button><button id="bblanco" onclick="cerrarTodo()">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup2" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Compañia > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li>Nombre</li>
					<div id="linea1"></div>
					<li>Región</li>
					<div id="linea1"></div>
				</ul>
			</div>
			<div id="popinfo">
				<input id="name" name="name" type="text" class="textinfo form_nombre">
				<select data-placeholder="Selecciona las regiones" id="optionRegion" class="optionRegion textinfo" style="display:block;" multiple="true"></select>
				<button id="b_create" class="bazul">Crear</button><button id="bblanco" onclick="cerrarTodo()">Cancelar</button>
			</div>
		</div>
	</div>

	{% include "includes/error_dialog.html" %}

</body>
</html>