<header >
	<div class="principal">
		<nav id="superior">
			<ul >
				<li id="s1" class="iconosuperior"><img src="/static/imagenes/Supervisar/administrar.png" border="0"><a href="/administradores/">Administrar </a></li>
				<li id="s2" class="iconosuperior"><img src="/static/imagenes/Supervisar/supervisor_big.png" border="0"><a href="/supervision/">Supervisión</a></li>
				<li id="s3" class="iconosuperior"><img src="/static/imagenes/Supervisar/usuario.png" border="0">{{ user.get_full_name }}</li>
				<li id="s4" class="iconosuperior"><img src="/static/imagenes/Supervisar/cerrar.png" border="0"><a href="/logout">Cerrar sesión</a></li>
			</ul>
		</nav>
	</div>
</header>