<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log Georeferencias</title>
	<link rel="stylesheet" type="text/css" href="/static/css/log.css">
</head>
<body>
	<div id="content">
		<table>
			<thead>
				<tr>
					<th class="idcol">ID Admin</th>
					<th>Tipo</th>
					<th>Nombre</th>
					<th>Operaci&oacute;n</th>
					<th>Modelo</th>
					<th class="idcol">ID</th>
					<th>Fecha-Hora</th>
				</tr>
			</thead>
			<tbody>
				{% for j in data %}
				<tr>
					<td class="idcol info">{{ j.infouser.pk }}</td>
					<td class="idcol info">{{ j.infouser.get_tipo_display }}</td>
					<td class="info">{{ j.infouser.get_full_name }}</td>
					<td class="info">{{ j.operacion }}</td>
					<td class="info">{{ j.modelo }}</td>
					<td class="idcol info">{{ j.id }}</td>
					<td class="info">{{ j.fecha }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>