<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="utf-8" />
        <title> Georeferencias Telcel</title>
        <link rel=stylesheet href='/static/css/estilohome.css' type=text/css medi="screen"> 
    </head>

    <body>
        <div class="body">
            <div class="form">
                <form>
                    <div class="label"><label>User Name:  <input type="text"></input></label></div>
                    <p> </p>
                    <div  class="label"><label>Password:         <input type="password"></input></label></div> 
                     <p> </p>
                      <p> </p>
                       <p> </p>
                        <p> </p>
                    <div> <a href="/administradores" target="_self" href="#" class="myButton">Log in</a></div>
                   

                </form>
            </div>
       </div>
      
        <footer>
            <small>
                Copyright &copy; 2014<br/>
                Actualizado en: 11/03/2014           
            </small>        
        </footer>
    </body>
</html>



