<!DOCTYPE html>
<html>
<head>
	<title>Datos</title>
	
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/administrador.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/telcelscript.js" type="text/javascript"></script>
</head>
<body  > 
	<header >
		<a name="inicio1"> </a>
		<div class="principal">
			<nav id="superior">
				<ul >
					<li id="s1" class="iconosuperior"><img src="/static/imagenes/Supervisar/supervisor_big.png" border="0"><a href="Supervision.html">Supervisión</a></li>
					<li id="s2" class="iconosuperior"><img src="/static/imagenes/Supervisar/administrar.png" border="0"><a href="administrador.html">Administrar </a></li>
					<li id="s3" class="iconosuperior"><img src="/static/imagenes/Supervisar/usuario.png" border="0">Usuario</li>
					<li id="s4" class="iconosuperior"><img src="/static/imagenes/Supervisar/cerrar.png" border="0">Cerrar sesión</li>
				</ul>
			</nav>
		</div>
	</header>

	
	<div id="cuerpo">
		<div id="izquierda4" class="interior1">
			<div id="regresar"><a href="Supervision.html"> <img src="/static/imagenes/Supervisar/flecha_regresar.png">Regresar a Resultados</a> </div>	
		
		<table id="usuario">
			<tr id="t1" >
				<td colspan="3">App power </td>
			</tr>
			<tr id="t3">
				<td ></td>
				<td colspan="2"class="usuariodatos">35 Usuarios </td>
			</tr>
			<tr id="t4">
				<td > </td>
				<td colspan="2"class="usuariodatos">Región 09 </td>
			</tr>
		</table>
			<div id="filtrosbusqueda">
				Filtrar Resultados
				<div id="linea1"></div>
				<table>
				<tr>
					<td>Fecha inicial</td>
					<td>Fecha Final</td>
				</tr>
				<tr>
					<td> <select>
        <option selected> Select Box </option>
        <option>Short Option</option>
        <option>This Is A Longer Option</option>
    	</select> </td>
    	<td>
    		<select >
        <option selected> Select Box </option>
        <option>Short Option</option>
        <option>This Is A Longer Option</option>
    	</select> 
    	</td>
				</tr>
				</table>
				
				<div id="linea1"></div>
				<table>
				<tr>
					<td>Región</td>
					<td>Sitio</td>
				</tr>
				<tr>
					<td> <select>
        <option selected> Select Box </option>
        <option>Short Option</option>
        <option>This Is A Longer Option</option>
    	</select> </td>
    	<td>
    		<select >
        <option selected> Select Box </option>
        <option>Short Option</option>
        <option>This Is A Longer Option</option>
    	</select> 
    	</td>
				</tr>
				</table>

			</div>



		</div>
		<div id="derecha5" class="interior1">
		<div><li id="nuevo" style="color:blue;" onclick="abrir1()"><div id="linea1"></div></br><dd>Nuevo usuario <img src="/static/imagenes/Supervisar/nuevo.png"> <div id="linea2"></div></li></div>
		<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()"> 	
			<a name="inicio"> </a>
			
				<div id="iabc">
				<div class="abc">A</div>
				<div class="contenedor">
					<div class="nombre"> Andres López Piña   <div class="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				
				<div id="abc">B</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()" > Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="abc">C</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png" ></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
					

				</div>

			</div>

			</div>
		</div>
	
	<div id="popup1" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Administrador > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
				</ul>


			</div>
			<div id="popinfo">
				<input type="text" class="textinfo">
				<input type="text" class="textinfo">

				<input type="text" class="textinfo">
				<div id="popadministrador">Administrador<label class="switch"><input type="checkbox" checked=""><span></span></label></div>

				<button id="beliminar">Eliminar</button> <button id="bazul">Guardar</button><button id="bblanco" onclick="cerrar()">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup2" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Administrador > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
				</ul>


			</div>
			<div id="popinfo">
				<input type="text" class="textinfo">
				<input type="text" class="textinfo">

				<input type="text" class="textinfo">
				<div id="popadministrador">Administrador<label class="switch"><input type="checkbox" checked=""><span></span></label></div>

				 <button id="bazul">Crear</button><button id="bblanco" onclick="cerrar1()">Cancelar</button>
			</div>
		</div>
	</div>

</body>


</html>