<!DOCTYPE html>
<html>
<head>
	<title>Datos</title>
	
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/administrador.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cupertino/jquery-ui.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/supervisionDataFormat.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/telcelscript.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/mapa.js" ></script>
	<script type="text/javascript">
	eval('var data = {{ data|escape|safe }}');
	</script>
</head>
<body>
	<header>
		<a name="inicio1"> </a>
		<div class="principal">
			<nav id="superior">
				<ul >
					<li id="s1" class="iconosuperior"><img src="/static/imagenes/Supervisar/supervisor_big.png" border="0"><a href="/supervision">Supervisión</a></li>
					<li id="s2" class="iconosuperior"><img src="/static/imagenes/Supervisar/administrar.png" border="0"><a href="/administradores">Administrar </a></li>
					<li id="s3" class="iconosuperior"><img src="/static/imagenes/Supervisar/usuario.png" border="0">{{ user.first_name }}</li>
					<li id="s4" class="iconosuperior"><img src="/static/imagenes/Supervisar/cerrar.png" border="0">Cerrar sesión</li>
				</ul>
			</nav>
		</div>
	</header>
	<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()"> 
	<div id="cuerpo">
		<div id="izquierda4" class="interior1">
			<div id="regresar"><a href="/supervision"> <img src="/static/imagenes/Supervisar/flecha_regresar.png">Regresar a Resultados</a> </div>	
			<table id="usuario">
				<tr id="t1" >
					<td colspan="3">Manuel Cabrera</td>
				</tr>
				<tr id="t2">
					<td>Ultimpo registro:</td>
					<td>Torre Frisco </td>
					<td>11/12/13</td>

				</tr>
				<tr id="t3">
					<td > Campaña: </td>
					<td colspan="2"class="usuariodatos"> Insitum</td>
				</tr>
				<tr id="t4">
					<td > Telefono: </td>
					<td colspan="2"class="usuariodatos"> 61454545</td>
				</tr>
			</table>
			<div id="filtrosbusqueda">
				Filtrar Resultados
				<div id="linea1"></div>
				<table>
					<tr>
						<td>Fecha inicial</td>
						<td>Fecha Final</td>
					</tr>
					<tr>
						<td><input type="text" id="fecha_inicial"></td>
						<td><input type="text" id="fecha_final"></td>
					</tr>
				</table>
				
				<div id="linea1"></div>
				<table>
					<tr>
						<td>Sitio</td>
					</tr>
					<tr>
						<td>
							<select id="select_sitios">
								<option selected> Select Box </option>
								<option>Short Option</option>
								<option>This Is A Longer Option</option>
							</select> 
						</td>
					</tr>
				</table>

			</div>



		</div>
		<div id="derecha5" class="interior1">
				
			<a name="inicio"> </a>
			<table id="actividadTemplate">
				<tr id="encabezado">
					<td>Evento</td>
					<td>Precisión</td>
					<td>Latitud</td>
					<td>Longitud</td>
					<td>Fecha</td>
					<td>Sitio</td>
					<td>Mapa</td>
				</tr>
			</table>
			<table id="actividad"></table>
			<div id="map_container">    
        		<div id="map_canvas" style="width:100%;height:100%;"></div>
    		</div>
		</div>
	</div>
	<div id="popup1" class="pop">
		<div id="popsuperior"> <img src="/static/imagenes/Supervisar/usuario.png"> Administrador > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
				</ul>
			</div>
			<div id="popinfo">
				<input type="text" class="textinfo">
				<input type="text" class="textinfo">

				<input type="text" class="textinfo">
				<div id="popadministrador">Administrador<label class="switch"><input type="checkbox" checked=""><span></span></label></div>

				<button id="beliminar">Eliminar</button> <button id="bazul">Guardar</button><button id="bblanco" onclick="cerrar()">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup2" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Administrador > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
				</ul>


			</div>
			<div id="popinfo">
				<input type="text" class="textinfo">
				<input type="text" class="textinfo">

				<input type="text" class="textinfo">
				<div id="popadministrador">Administrador<label class="switch"><input type="checkbox" checked=""><span></span></label></div>

				<button id="bazul">Crear</button><button id="bblanco" onclick="cerrar1()">Cancelar</button>
			</div>
		</div>
	</div>

</body>


</html>