<!DOCTYPE html>
<html>
<head>
	<title>Detalle Proveedor</title>
	{% include "common_headers.html" %}
	<script type="text/javascript" src="/static/js/proveedorDataFormat.js"></script>
	<script type="text/javascript">
	eval('var data = {{ data|escape|safe }}')
	</script>
</head>
<body> 
	{% csrf_token %}
	{% include "header_admins.html" %}
	
	<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()"> 	
	<div id="cuerpo">
		<div id="izquierda4" class="interior1">
			<div id="regresar"><a href="/proveedores/"> <img src="/static/imagenes/Supervisar/flecha_regresar.png">Regresar a Resultados</a> </div>	
			<table id="usuario">
				<tr id="t1" >
					<td colspan="3">App power </td>
				</tr>
				<tr id="t3">
					<td ></td>
					<td colspan="2"class="usuariodatos">35 Usuarios </td>
				</tr>
				<tr id="t4">
					<td > </td>
					<td colspan="2"class="usuariodatos">Región 09 </td>
				</tr>
			</table>
			<div id="filtrosbusqueda">
				Filtrar Resultados
				<div id="linea1"></div>
				<table>
					<tr>
						<td>Búsqueda:</td>
					</tr>
					<tr>
						<td>
							<div id="busqueda"><input type="text" size="15"></div>
						</td>
					</tr>
					<tr>
						<td>Sitio</td>
					</tr>
					<tr>
						<td>
							<select class="optionSitio">
								<option>---</option>
							</select> 
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="derecha5" class="interior1">
			<div><li id="nuevo" style="color:blue;" onclick="abrir2()"><div id="linea1"></div></br><dd>Nuevo usuario <img src="/static/imagenes/Supervisar/nuevo.png"> <div id="linea2"></div></li></div>
			
			<a name="inicio"> </a>
			<div id="iabc">
				<div class="abc">A</div>
				<div class="contenedor">
					<div class="nombre"> Andres López Piña   <div class="conf" onclick="abrir()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popup4" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Usuarios > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral" class="poplateral3">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
					<li>Telefono</li>
				</ul>
			</div>
			<div id="popinfo" class="popinfo3">
				<input type="text" class="textinfo form_nombre">
				<input type="text" class="textinfo apellido">
				<input type="text" class="textinfo email">
				<input type="text" class="textinfo telefono">
				<select class="textinfo selectProvider" style="display:none;">
					<option></option>
					<option selected> TODO </option>
				</select> 
				<button id="beliminar">Eliminar</button> <button id="bazul">Guardar</button><button id="bblanco" onclick="cerrarTodo()">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup3" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Usuario > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral" class="poplateral3">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Apellido</li>
					<div id="linea1"></div>
					<li>Mail</li>
					<div id="linea1"></div>
					<li>Telefono</li>
				</ul>
			</div>
			<div id="popinfo" class="popinfo3">
				<input type="text" class="textinfo form_nombre">
				<input type="text" class="textinfo apellido">
				<input type="text" class="textinfo email">
				<input type="text" class="textinfo telefono">
				<select class="textinfo selectProvider" style="display:none;">
					<option></option>
					<option selected> TODO </option>
				</select> 
				<button id="b_create" class="bazul">Crear</button><button id="bblanco" onclick="cerrarTodo(); return false;">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup2" class="pop">
		<div id="popsuperior"> <img src="/static/imagenes/Supervisar/usuario.png"> Proveedor > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral" class="poplateral3">
				<ul id="popul">
					<li>Nombre</li>
					<div id="linea1"></div>
					<li>Región</li>
				</ul>


			</div>
			<div id="popinfo" class="popinfo3">
				<div><input type="text" class="textinfo form_nombre">
				<select class="textinfo optionRegion">
					<option selected> ---- </option>
				</select> </div>

				 <button id="beliminar">Eliminar</button><button id="b_save" class="bazul">Guardar</button><button id="bblanco">Cancelar</button>
			</div>
		</div>
	</div>
</body>
</html>