<!DOCTYPE html>
<html>
<head>
	<title>Proveedores</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/administrador.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/telcelscript.js"></script>
	<script type="text/javascript" src="/static/js/proveedoresDataFormat.js"></script>
	<script type="text/javascript">
		eval('var all_data = {{ data|escape|safe }}')
		var data = all_data["providers"];
	</script>
</head>
<body  > 
	<header >
		<a name="inicio1"> </a>
		<div class="principal">
			<nav id="superior">
				<ul >
					<li id="s1" class="iconosuperior"><img src="/static/imagenes/Supervisar/administrar.png" border="0"><a href="/administradores">Administrar </a></li>
					<li id="s2" class="iconosuperior"><img src="/static/imagenes/Supervisar/supervisor_big.png" border="0"><a href="/supervision">Supervisión</a></li>
					<li id="s3" class="iconosuperior"><img src="/static/imagenes/Supervisar/usuario.png" border="0">Usuario</li>
					<li id="s4" class="iconosuperior"><img src="/static/imagenes/Supervisar/cerrar.png" border="0">Cerrar sesión</li>
				</ul>
			</nav>
		</div>
	</header>
	

	<div id="gradiant"></div>
	<div id="cuerpo">
		<div id="izquierda1" class="interior">
			<li id="administrador"> Proveedores <img src="/static/imagenes/Supervisar/flecha_combobox.png"></li>


			<li id="nuevo" onclick="abrir2()"><div id="linea1"></div></br><dd>Nuevo Proveedor <img src="/static/imagenes/Supervisar/nuevo.png"> <div id="linea2"></div></li>
			<li id="nuevo"></br></br><dd>Región 
		<select id="optionRegion" class="optionRegion" style="display:block;">
		<option selected> Select Box </option>
		<option>Short Option</option>
		<option>This Is A Longer Option</option>
		</select> 
		<div id="linea2"></div>
			</li>
			<li id="nuevo"></br></br><dd>Sitio
		<select id="optionSitio" class="optionSitio" style="display:block;">
		<option selected> Todos </option>
		<option>Short Option</option>
		<option>This Is A Longer Option</option>
		</select> 
		
			</li>



			<ul id="lateral">
			<li ><a href="/administradores">Administradores</a></li>
				<li ><a href="/supervisores">Supervisores</a></li>
				<li><a href="/usuarios">Usuarios</a></li>
				<li><a href="/sitios">Sitios</a></li>
			</ul>
		</div>
		<div id="derecha" class="interior">
		<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()"> 	
			<a name="inicio"> </a>
			<div id="busqueda"> Tu busqueda : <input type="text" size="15"></div>
			
			<div id="iabc">
				<div class="abc">A</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="abc">B</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()" > Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div><div class="abc">B</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()" > Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="abc">C</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div class="contenedor">
					<div class="nombre"> Administrador López Piña   <div class="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png" ></div></div>
					<div class="info">manuel@telcelcelular.com.mx </br>55943412</div>
					

				</div>

			</div>
		</div>
	</div>
	<div id="popup4" class="pop">
		<div id="popsuperior"> <img src="/static/imagenes/Supervisar/usuario.png"> Proveedores > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral" class="poplateral3">
				<ul id="popul">
					<li>Nombre</li>
					<div id="linea1"></div>
					<li>Región</li>
				</ul>


			</div>
			<div id="popinfo" class="popinfo3">
				<div><input type="text" class="textinfo">
				<select class="textinfo optionRegion">
					<option selected> Select Box </option>
					<option>Short Option</option>
					<option>This Is A Longer Option</option>
				</select> </div>

				 <button id="beliminar">Eliminar</button><button id="b_save" class="bazul">Guardar</button><button id="bblanco" onclick="cerrar2()">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup3" class="pop">
		<div id="popsuperior"> <img src="/static/imagenes/Supervisar/usuario.png"> Proveedores > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral" class="poplateral3">
				<ul id="popul">
					<li>Nombre</li>
					<div id="linea1"></div>
					<li>Región</li>
				</ul>


			</div>
			<div id="popinfo" class="popinfo3">
				<div><input type="text" class="textinfo">
				<select class="textinfo optionRegion">
					<option selected> Select Box </option>
					<option>Short Option</option>
					<option>This Is A Longer Option</option>
				</select> </div>

				 <button class="bazul" id="b_create">Crear</button><button id="bblanco" onclick="cerrar2()">Cancelar</button>
			</div>
		</div>
	</div>

</body>







</html>