<!DOCTYPE html>
<html>
<head>
	<title>Sitios</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/administrador.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<script src="/static/js/telcelscript.js" type="text/javascript"></script>
</head>
<body  > 
	<header >
		<a name="inicio1"> </a>
		<div class="principal">
			<nav id="superior">
				<ul >
					<li id="s1" class="iconosuperior"><img src="/static/imagenes/Supervisar/administrar.png" border="0"><a href="administrador.html">Administrar </a></li>
					<li id="s2" class="iconosuperior"><img src="/static/imagenes/Supervisar/supervisor_big.png" border="0"><a href="Supervision.html">Supervisión</a></li>
					<li id="s3" class="iconosuperior"><img src="/static/imagenes/Supervisar/usuario.png" border="0">Usuario</li>
					<li id="s4" class="iconosuperior"><img src="/static/imagenes/Supervisar/cerrar.png" border="0">Cerrar sesión</li>
				</ul>
			</nav>
		</div>
	</header>
	

	<div id="gradiant"></div>
	<div id="cuerpo">
		<div id="izquierda1" class="interior">
			<li id="administrador"> Sitios <img src="/static/imagenes/Supervisar/flecha_combobox.png"></li>


			<li id="nuevo" onclick="abrir2()"><div id="linea1"></div></br><dd>Nuevo Sitio <img src="/static/imagenes/Supervisar/nuevo.png"> <div id="linea2"></div></li>
			<li id="nuevo"></br></br><dd>Región 
	  	<select style="display:block;">
        <option selected> Select Box </option>
        <option>Short Option</option>
        <option>This Is A Longer Option</option>
    	</select> 
    	<div id="linea2"></div>
    		</li>

			<ul id="lateral">
			<li ><a href="administrador.html">Administradores</a></li>
				<li ><a href="Supervisor.html">Supervisores</a></li>
				<li><a href="usuarios.html">Usuarios</a></li>
				<li><a href="proveedor.html">Proveedores</a></li>
			</ul>
		</div>
		<div id="derecha" class="interior">
		<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()"> 	
			<a name="inicio"> </a>
			<div id="busqueda"> Tu busqueda : <input type="text" size="15"></div>
			
			<div id="iabc">
				<div id="abc">A</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="abc">B</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()" > Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div><div id="abc">B</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()" > Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="abc">C</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png"></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
				</div>
				<div id="contenedor">
					<div id="nombre"> Administrador López Piña   <div id="conf" onclick="abrir3()"> Editar datos <img src="/static/imagenes/Supervisar/configurar.png" ></div></div>
					<div id="info">manuel@telcelcelular.com.mx </br>55943412</div>
					

				</div>

			</div>
		</div>
	</div>
	<div id="popup4" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Sitio > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral" class="poplateral3">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Neumonico</li>
					<div id="linea1"></div>
					<li>Lat-Long</li>
					<div id="linea1"></div>
					<li>Telefono</li>
					<div id="linea1"></div>
					<li>Proveedor</li>
				</ul>

			</div>
			<div id="popinfo" class="popinfo3">
				<input type="text" class="textinfo">
				<input type="text" class="textinfo">

				<input type="text" class="textinfo">
				<input type="text" class="textinfo">
				<select class="textinfo">
        <option selected> Select Box </option>
        <option>Short Option</option>
        <option>This Is A Longer Option</option>
    	</select> 
				<button id="beliminar">Eliminar</button> <button id="bazul">Guardar</button><button id="bblanco" onclick="cerrar3()">Cancelar</button>
			</div>
		</div>
	</div>
	<div id="popup3" class="pop">
		<div id="popsuperior"> <img     src="/static/imagenes/Supervisar/usuario.png"> Sitio > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
		<div id="gradiant"></div>
		<div id="popcontenido">
			<div id="poplateral" class="poplateral3">
				<ul id="popul">
					<li> Nombre</li>
					<div id="linea1"></div>
					<li>Neumonico</li>
					<div id="linea1"></div>
					<li>Lat-Long</li>
					<div id="linea1"></div>
					<li>Telefono</li>
					<div id="linea1"></div>
					<li>Región</li>
				</ul>


			</div>
			<div id="popinfo" class="popinfo3">
				<input type="text" class="textinfo">
				<input type="text" class="textinfo">

				<input type="text" class="textinfo">
				<input type="text" class="textinfo">
				<select class="textinfo">
        <option selected> Select Box </option>
        <option>Short Option</option>
        <option>This Is A Longer Option</option>
    	</select> 

				 <button id="bazul">Crear</button><button id="bblanco" onclick="cerrar2()">Cancelar</button>
			</div>
		</div>
	</div>

</body>







</html>