<!DOCTYPE html>
<html>
	<head>
		<title>Usuarios</title>
		{% include "includes/common_headers.html" %}
		<script type="text/javascript" src="/static/js/userDataFormat.js"></script>
		<script type="text/javascript">
			eval('var data = {{ data|escape|safe }}');
		</script>
	</head>
	<body>
		{% csrf_token %}
		{% include "includes/header_admins.html" %}
		<div id="gradiant"></div>
		<img id="flecha"  src="/static/imagenes/Supervisar/flecha_arriba.png" onclick="subir()">
		<div id="cuerpo">
			{% with template_name="usuarios" %}
			{% include "includes/menu_lateral.html" %}
			{% endwith %}
			<div id="derecha" class="interior">
				
				<a name="inicio"> </a>
				<div id="busqueda"> Tu busqueda : <input type="text" size="15"></div>
				<div id="iabc"></div>
			</div>
		</div>
		<div id="popup4" class="pop">
			<div id="popsuperior"> <img src="/static/imagenes/Supervisar/usuario.png"> Usuarios > Editar <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
			<div id="gradiant"></div>
			<div id="popcontenido">
				<div id="poplateral" class="poplateral3">
					<ul id="popul">
						<li> Nombre</li>
						<div id="linea1"></div>
						<li>Apellido</li>
						<div id="linea1"></div>
						<li>Mail</li>
						<div id="linea1"></div>
						<li>Telefono</li>
						<div id="linea1"></div>
						<li>Contraseña</li>
					</ul>
				</div>
				<div id="popinfo" class="popinfo3">
					<input type="text" class="textinfo form_nombre">
					<input type="text" class="textinfo apellido">
					<input type="text" class="textinfo email">
					<input type="text" class="textinfo telefono">
					<input type="text" class="textinfo password">

					<button id="beliminar">Eliminar</button>
					<button id="b_save" class="bazul">Guardar</button>
					<button id="bblanco" onclick="cerrarTodo()">Cancelar</button>
				</div>
			</div>
		</div>
		<div id="popup3" class="pop">
			<div id="popsuperior"> <img src="/static/imagenes/Supervisar/usuario.png"> Usuario > Nuevo <img id="azul" src="/static/imagenes/Supervisar/configurar.png"> </div>
			<div id="gradiant"></div>
			<div id="popcontenido">
				<div id="poplateral" class="poplateral3">
					<ul id="popul">
						<li> Nombre</li>
						<div id="linea1"></div>
						<li>Apellido</li>
						<div id="linea1"></div>
						<li>Mail</li>
						<div id="linea1"></div>
						<li>Telefono</li>
						<div id="linea1"></div>
						<li>Contraseña</li>
						<div id="linea1"></div>
					</ul>
				</div>
				<div id="popinfo" class="popinfo3">
					<input type="text" class="textinfo form_nombre">
					<input type="text" class="textinfo apellido">
					<input type="text" class="textinfo email">
					<input type="text" class="textinfo telefono">
					<input type="text" class="textinfo password">
					
					<button id="b_create" class="bazul">Crear</button>
					<button id="bblanco" onclick="cerrarTodo(); return false;">Cancelar</button>
				</div>
			</div>
		</div>
	</body>
</html>